* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    background: #FDF5E6;
    margin: 0;
}

.header {
    background: #006400;
    background-image: url(Images/WebsiteHeader.jpg);
    background-repeat: no-repeat;
    color: white;
    font-family: Didot, Georgia;
    width: 100%;
    height: 600px;
    margin-top: 0px;
    display: inline-block;
}

.header h1 {
    display: block;
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 200px;
}

h2 {
    color: #006400;
    font-family: Verdana;
    font-weight: bold;
}

.header nav {
    font-size: 20px;
    text-align: center;
    padding-top: 200px;
}