* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    background: #FDF5E6;
    margin: 0;
}

.header {
    background-image: url(Images/Header3.jpg);
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: center top;
    width: 100%;
    height: auto;
    max-height: 600px;
    margin-top: 0px;
    display: inline-block;
    overflow: hidden;
}

.header h1 {
    color: #FDF5E6;
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 10vw;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 150px;
    text-shadow: 0 0 10px #000080;
}

h2 {
    color: #000080;
    font-family: Verdana;
    font-weight: bold;
}

.header nav {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 200px;
}

.navigation a {
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 0 0 100px #000080;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-decoration: underline;
}