* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    background: #FDF5E6;
    margin: 0;
}

.header {
    background-image: url(Images/Header3.jpg);
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: center top;
    width: 100%;
    height: auto;
    max-height: 600px;
    margin-top: 0px;
    display: inline-block;
    overflow: hidden;
}

.header h1 {
    color: #FDF5E6;
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 10vw;
    letter-spacing: 10px;
    text-align: center;
    padding-top: 150px;
    text-shadow: 0 0 10px #000080;
}

.header nav {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 200px;
}

.navigation a {
    padding-left: 25px;
    padding-right: 25px;
    text-shadow: 0 0 5px #000080;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-decoration: underline;
}

h2 {
    color: #000080;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    position: absolute;
}

.Biography h2 {
    float: right;
    margin: 70px 0px 20px 100px;
    position: absolute;
    left: 450px;
}

.Biography p {
    font-size: 1.5vw;
    font-family: 'Space Mono', monospace;
    position: absolute;
    float: center;
    top: 740px;
    left: 550px;
}

.Biography img {
    float: left;
    margin: 50px 40px 10px 150px;
    width: 325px;
    height: 400px;
    display: inline block;
    position: absolute;
}

.Education h2 {
    float: left;
    display: inline block;
    clear: both;
    top: 1100px;
    left: 150px;
}

.Education p {
    font-size: 1.5vw;
    font-family: 'Space Mono', monospace;
    position: absolute;
    float: center;
    display: inline block;
    top: 1170px;
    left: 150px;
}